<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="fulldate" value="${date:format=yyyy.MM.dd HH\:mm\:ss\:fff}"/>
  <variable name="filedate" value="${date:format=yyyy.MM.dd HH-mm-ss}"/>
  <variable name="minutes" value="${date:format=HH\:mm\:ss\:fff}"/>
  <variable name="func" value="${callsite:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}"/>
  <variable name="myStackTrace" value=""/>
  <variable name="vers" value="v1.12.00"/>
  <variable name="myHeader" value="${var:vers}"/>

  <!-- Files:-->
  <variable name="netPath" value="\\fserver-366\\public\ogur\nlogs"/>
  <variable name="PCNetPath" value="${netPath}-pc\${machinename}"/>
  <!-- Layouts:-->
  <variable name="outStack" value="${minutes} |${level}| ${message}   |thread ${threadid}| ${stacktrace} ${callsite-linenumber}"/>
  <variable name="outDefault" value="${minutes} |${level}| thread ${threadid}| ${var:func} |${callsite-linenumber}  ${message}"/>
  <variable name="outExList" value="${fulldate} |${machinename}|${windows-identity:domain=false}| ${var:func} |  ${message}"/>
  <variable name="outExOne" value="${fulldate} |${level}| ${machinename}|${windows-identity:domain=false}|${newline}${message}${newline} ${newline} ${stacktrace:topFrames=8:separator=&#13;&#10;} line=${callsite-linenumber} ${newline} ${newline} ${exception:format=toString,Data:maxInnerExceptionLevel=8}${newline}${newline}${myStackTrace}"/>
  <!--${callsite:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true:fileName=true}-->
  <targets async="true">
    <target name="console" xsi:type="ColoredConsole"
            layout="${outDefault}"/>
    <target name="locTrace" xsi:type="File"
            fileName="nlogs\trace.log"
            layout="${outDefault}"
            encoding="utf-8"
            deleteOldFileOnStartup="true"/>
    <target name="locTraceStack" xsi:type="File"
            fileName="nlogs\trace stack.log"
            layout="${outStack}"
            encoding="utf-8"
            deleteOldFileOnStartup="true"/>
    <target name="locDebugStack" xsi:type="File"
            fileName="nlogs\debug stack.log"
            layout="${outStack}"
            encoding="utf-8"
            deleteOldFileOnStartup="true"/>
    <target name="netTrace" xsi:type="File"
          fileName="${PCNetPath}\trace.log"
          layout="${outDefault}"
            encoding="utf-8"
          deleteOldFileOnStartup="true"
          header="${myHeader}"/>
    <target name="netDebug" xsi:type="File"
            fileName="${PCNetPath}\debug.log"
            layout="${outDefault}"
            encoding="utf-8"
            deleteOldFileOnStartup="true"/>
    <target name="netTraceStack" xsi:type="File"
            fileName="${PCNetPath}\trace stack.log"
            layout="${outStack}"
            encoding="utf-8"
            deleteOldFileOnStartup="true"/>
    <target name="netDebugStack" xsi:type="File"
          fileName="${PCNetPath}\debug stack.log"
          layout="${outStack}"
            encoding="utf-8"
          deleteOldFileOnStartup="true"/>

    <target name="ex" xsi:type="File"
            fileName="nlogs\${var:func}\${machinename} ${filedate}.log"
            layout="${outExOne}"
            encoding="utf-8"
            header="${myHeader}"
            archiveFileName="${netPath}-Errors\${var:func}\${machinename} {#}.log"
            archiveDateFormat="yyyy.MM.dd HH-mm-ss"
            archiveNumbering="Date"
            archiveEvery="Year"
            maxArchiveFiles="1"/>
    <target name="exPerPC" xsi:type="File"
            fileName="${PCNetPath}\${var:func}\${filedate}.log"
            layout="${outExOne}"
            encoding="utf-8"
            header="${myHeader}"
            archiveFileName="${PCNetPath}\${var:func}\{#}.log"
            archiveDateFormat="yyyy.MM.dd HH-mm-ss"
            archiveNumbering="Date"
            archiveEvery="Year"
            maxArchiveFiles="3"/>

    <target name="exLast" xsi:type="File"
            fileName="nlogs\Last\${filedate}.log"
            layout="${outExOne}"
            encoding="utf-8"
            header="${myHeader}"
            archiveFileName="${netPath}-Errors\Last\{#}.log"
            archiveDateFormat="yyyy.MM.dd HH-mm-ss"
            archiveNumbering="Date"
            archiveEvery="Year"
            maxArchiveFiles="9"/>
    <target name="exLastPerPC" xsi:type="File"
            fileName="${PCNetPath}\Last\${filedate}.log"
            layout="${outExOne}"
            encoding="utf-8"
            header="${myHeader}"
            archiveFileName="${PCNetPath}\Last\{#}.log"
            archiveDateFormat="yyyy.MM.dd HH-mm-ss"
            archiveNumbering="Date"
            archiveEvery="Year"
            maxArchiveFiles="9"/>

    <target name="listEx" xsi:type="File"
            fileName="nlogs\Errors.log"
            layout="${outExList}"
            encoding="utf-8"
    />
    <target name="listexPerPC" xsi:type="File"
            fileName="${PCNetPath}\Errors.log"
            layout="${outExList}"
            encoding="utf-8"
    />
  </targets>

  <rules>

    <logger name="*" minlevel="Trace" writeTo="locTrace,locTraceStack"/>
    <logger name="*" minlevel="Debug" writeTo="locDebugStack"/>
    <!--netDebug, netDebugStack, netTrace, netTraceStack, console-->

    <logger name="*" minlevel="error" writeTo="ex,listEx, exLast"/>
    <!--exLastPerPC, exPerPC, listexPerPC-->
  </rules>
</nlog>
